<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <%- markup -%>
    <script type="text/javascript" src="/build/main.js"></script>
  </body>
</html>
